*{
    margin:0;
    padding:0;
}

.panda_card{
    border:0px;
}

.panda_card_footer {
   
   
    background-color:white;
    border-top:0px;
}

.categories img{
    width:100px;
}
.carousel_item_bg .carousel-item{
    background:#f777f766;
    border-radius: 1em;

}
.my_bg_color{
    background:#f777f766;
    height:300px;
    border-radius: 8px;
}
.my_btn_color,.my_nav_color{
    background:#eb37eb66;
    
}
